body {
    font-family: "Montserrat";
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat";
    font-weight: bold;
    color: #5F85DB;
    font-size: 4rem;
}

p {
    font-family: "Montserrat";
    color: #90B8F8;
    font-size: 1.5rem;
    line-height: 1.5;
}

video {
    height: auto;
    width: 100%;
}

.pagination .page-link {
    background: #163172;
    color: white;
}

.cardformat {
    background-color: #163172;
    font-family: "Montserrat";
    color: #90B8F8;
    line-height: 1.5;
}

/* Headings */
.big-heading {
    
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
    text-align: center;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

.feature-icons {
    padding: 5% 10%;
}

/* Title Image */
.title-image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

#title {
    text-align: left;
}

@media (max-width: 990px) {
    #title {
        text-align: center;
    }
    
    .title-image {
        position: static;
        transform: rotate(0deg);
    }
}

/* Feature */
#feature {
    position: relative;
}

.feature-icon-format {
    size: 5rem;
}

.feature-title {
    font-size: 1.5rem;
}

.container-fluid {
    padding: 3% 15% 7%;
}

.container-fluid-features {
    padding: 10% 10%;
    background-color: #26282B;
    position: relative;
}

/* Sections */
.colored-section {
    background-color: #353941;
    color: white;
}

.white-section {
    background-color: #26282B;
}

/* Navigation Bar */
.navbar {
    padding: 0 0 4.5rem 0;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrate-Light";
}

/* Download buttons */
.download-button {
    margin: 5% 3% 5% 0;
}

.fa-circle-check:hover {
    color: red;
}

.fa-bullseye:hover {
    color: red;
}

.fa-heart:hover {
    color: red;
}

.feature-icon-format {
    color: #5F85DB;
    margin-bottom: 1rem;
}

/* testimonial */
#testimonials {
    background-color: #353941;
}

.test-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.test-text {
    font-size: 3rem;
    line-height: 1.5;
}

/* hover portfolio section */
.container{
    width: 1680px;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 15px auto;
}

.container .card{
    position: relative;
    cursor: pointer;
}

.cardport{
    background-color: #26282B;
    border: 1px solid #26282B;
}

.cardport2{
    background-color: #353941;
    border: 1px solid #353941;
}

.container .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .face.face1{
    background: #90B8F8;
    transform: translateY(0);
}

.container .card .face.face1 .content{
    opacity: 0.2;
    transition: 0.5s;
}

.container .card:hover .face.face1 .content{
    opacity: 1;
}

.container .card .face.face1 .content img{
    max-width: 250px;
}

.container .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    color: #90B8F8;
    font-size: 1rem;
    line-height: 1;}

.container .card .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #26282B;
    padding: 5px;
    border: 1px solid #26282B;
}

.container .card .face.face2 .content a:hover{
    background: #26282B;
    color: #fff;
}

/* press section */
#press {
    background-color: #353941;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item {
    padding: 7% 15%;
}

/* pricing */
#port {
    padding: 7% 15%;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

.card-deck {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.price-col {
    padding: 3% 2%;
}

#cta {
    padding: 7% 15%;
}

/* footer */
#footer {
    padding: 4% 30%;
    background-color: #26282B;
}

.copy-footer {
    color: gray;
    font-size: 1.0rem;
    font-family: "Montserrate";
}

.footer-contact {
    color: gray;
    padding: 1%;
}

.footer-hover {
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    top: 75%;
    left: 75%;
    transform: translate(-50%, -50%);
}
  
.footer-hover li {
    list-style: none;
    margin: 0 15px;
}
  
.footer-hover li a {
    position: relative; 
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 63px;
    background: #333;
    border-radius: 50%;
    font-size: 30px;
    color: #666;
    transition: .5s;
}
  
.footer-hover li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #90B8F8;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}
  
.footer-hover li a:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #90B8F8;
}
  
.footer-hover li a:hover {
    color: #90B8F8;
    box-shadow: 0 0 5px #90B8F8;
    text-shadow: 0 0 5px #90B8F8;
}